/* p{border: dotted;font-size: 50px; text-align: center;}
h2{background: greenyellow color; color:violet; text-align: center;} */

#mydata{background: grey;}
.myp{background: purple; color: whitw;}
.myh{background: blue; color: white;}
#a{text-align: center; border: solid;}
